.box{
    background-color: white;
    width: 90%;
    height: auto;
    padding: 10px;  
    border-radius: 5px;
}       
/* .Container{
    width: 50%;
    margin-left:40px;
    background-color: black;
} */

.space form{
    display:grid;
    
    background-color: aliceblue;
    margin-top: 10%;
    
}

/*$$$$*/
.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #006080;
  }
  